<h1><%= user.charAt(0).toUpperCase() + user.slice(1)%>, Welcome To Notes</h1>
<a href="/notes/new-note">New note</a>
<div>
  <a href="/notes/search">Search Notes</a>
  <div>
    <div>
      <a href="/users/logout">Logout</a>
    </div>
  </div>
</div>
