<h1>
  <%= user.charAt(0).toUpperCase() + user.slice(1)%>, Welcome To Search Notes
</h1>
<ul>
  <% if(typeof errors != 'undefined') { %> <% errors.forEach(error=>{ %>
  <li><%= error.message%></li>
  <%}) %> <% }%>
</ul>
<form action="/notes/search" method="POST">
  <div>
    <label for="by_title">By Title</label>
    <input type="text" id="byTitle" name="byTitle" />
    <button type="submit">search</button>
  </div>
</form>
<br />
<form action="/notes/search" method="POST">
  <div>
    <label for="by_type">By Type</label>
    <input type="text" id="byType" name="byType" />
    <button type="submit">search</button>
  </div>
</form>

<a href="/users/logout">Logout</a>
<div>
  <a href="/notes">back</a>
</div>
